Source: libbpstructure
Maintainer: Specfogre <specfogre@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: libbpstructure
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Binelpro data structure and serializers