#!/usr/bin/make -f

%:
		dh $@ --buildsystem=cmake

override_dh_auto_configure:
		dh_auto_configure -- -DBUILD_DCM=ON -DBUILD_JSON=ON -DBUILD_TESTS=OFF
override_dh_shlibdeps:
		CWD=`pwd`
		dh_shlibdeps -l$(PWD)/obj-$(DEB_BUILD_GNU_TYPE)/